/*------------------------------------*\
    Settings - Headings
\*------------------------------------*/

/**
 * Sourced from Inuitcss (https://github.com/inuitcss), Copyright 2014 Harry Roberts
 */

// Predefine the variables below in order to alter and enable specific features.
$katt-heading-size-1:  36px !default;
$katt-heading-size-2:  30px !default;
$katt-heading-size-3:  24px !default;
$katt-heading-size-4:  20px !default;
$katt-heading-size-5:  16px !default;
$katt-heading-size-6:  14px !default;
