/*------------------------------------*\
    Settings - Show-Hide
\*------------------------------------*/

$katt-show-hide-namespace:                      $katt-namespace !default;
$katt-enable-show-hide-hidden:                  false !default;
$katt-enable-show-hide-visible:                 false !default;
$katt-enable-show-hide-hidden--accessibility:   false !default;
$katt-enable-show-hide-invisible:               false !default;
