/*------------------------------------*\
    Settings - List-UI
\*------------------------------------*/

$katt-list-ui-namespace:       $katt-namespace !default;

$katt-list-ui-padding:         $katt-base-spacing-unit !default;
$katt-list-ui-padding--tiny:     quarter($katt-list-ui-padding) !default;
$katt-list-ui-padding--small:      halve($katt-list-ui-padding) !default;
$katt-list-ui-padding--large:     double($katt-list-ui-padding) !default;
$katt-list-ui-padding--huge:   quadruple($katt-list-ui-padding) !default;

$katt-list-ui-border-width:    1px !default;
$katt-list-ui-border-style:    solid !default;
$katt-list-ui-border-color:    #ccc !default;

$katt-enable-list-ui--tiny:    false !default;
$katt-enable-list-ui--small:   false !default;
$katt-enable-list-ui--large:   false !default;
$katt-enable-list-ui--huge:    false !default;
