/*------------------------------------*\
    Settings - List-Inline
\*------------------------------------*/

$katt-list-inline-namespace:           $katt-namespace !default;

$katt-enable-list-inline--delimited:   false !default;
$katt-list-inline-delimit-character:   ",\00A0" !default;
