/*------------------------------------*\
    Settings - Widths
\*------------------------------------*/

/**
 * Sourced from Inuitcss (https://github.com/inuitcss), Copyright 2014 Harry Roberts
 */

// Predefine the variables below in order to alter and enable specific features.
$katt-widths-namespace: $katt-namespace !default;

// Do we want to use classes like `<div class="u-1/4">` instead of
// `<div class="u-1-of-4">`?
$katt-use-fractions: true !default;


// By default we will create wholes, halves, thirds, quarters, and fifths.
// Predefine this Map to override.
$katt-widths-columns: (
    1,
    2,
    3,
    4,
    5,
) !default;


$katt-widths-columns-responsive: (
    1,
    2,
    3,
    4,
    5,
) !default;
